<div class="comments">
	<p>
	  <strong><%= comment.commenter %>: </strong><%= comment.body %>
	</p>
</div>
<p>
  <%= link_to 'delete comment', [comment.photo, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>