<h1>postin a new photo</h1>
<p><b>instructions:</b> make sure to include the full URL.  checking "yes" for public means anyone can see your photo.  leaving the box unchecked means only brugram members will be able to see it.</p>

<%= render 'form' %>